#tree, #tree ul{
  list-style:none;
  margin-left:20px;
}
#tree ul{
  padding-top:.5em;
}
#tree li{
  padding-left:17px;
  background: url(../../../images/icons/extrasmall/filenew.gif) left top no-repeat;
  padding-bottom:.45em;
}
#tree a{
  text-decoration:none;
}

#tree .expandable{
  padding-left:0px;
  background-image:none;
}

#tree .expandable img{
  margin: 0 5px -2px 0;
}